@model PriyangaBankAdmin.ViewModels.Kundregister.KundregisterIndexViewModel
@{
    ViewData["Title"] = "Kundregister";
}

<div class="col-md-12">
    <div class="page-header card">
        <div class="card-header">
            <h5>Alla Kunder</h5>
            <div class="card-header-left">
                @*<div class="card-header-left ">
                    <div class="pcoded-search">
                        <span class="searchbar-toggle"></span>
                        <div class="pcoded-search-box ">
                            <form method="get" asp-controller="Kundregister" asp-action="Kundbild">
                                <input type="text" name="q" placeholder="Sök kund-id, namn, stad">
                            </form>
                        </div>
                    </div>
                </div>*@
            </div>
            <div class="card-header-right">
                <ul class="list-unstyled card-option">
                    <li><i class="icofont icofont-simple-left "></i></li>
                    <li><i class="icofont icofont-maximize full-card"></i></li>
                    <li><i class="icofont icofont-minus minimize-card"></i></li>
                    <li><i class="icofont icofont-refresh reload-card"></i></li>
                </ul>
            </div>
        </div>
        <div class="card-block">
            <table class="table table-sm table-hover" id="customerTable">
                <thead>
                    <tr>
                        <th scope="col">Kund-ID</th>
                        <th scope="col">Namn</th>
                        <th scope="col">Personnummer</th>
                        <th scope="col">Stad</th>
                        <th scope="col">Ägare av antal konton</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.AllCustomers)
                    {
                        <partial name="_customerRow" model="item" />
                    }
                </tbody>
            </table>
            <button class="btn btn-primary" href="#" onclick="fetch50more();return false;">Hämta 50 nästa</button>
        </div>
    </div>
</div>



@section Scripts
{
    
    <script>

        function fetch50more() {
            var skip = 0;
            skip += 50;
            $.ajax({
                url: "/Kundregister/GetCustomersFrom?skip=" + skip,
                success: function(result) {
                    $("#customerTable").append(result);
                }
            });
        }

    </script>
}