@model PriyangaBankAdmin.ViewModels.Kundregister.KundregisterKundbildViewModel
@{
    ViewData["Title"] = "Kundbild";
}

<div class="m-3">
    <form method="get" asp-controller="Kundregister" asp-action="Kundbild" class="form-inline ml-auto">
        <div class="form-group no-border">
            <input type="text" name="q" class="form-control" placeholder="Sök kundnummer">
            <span asp-validation-for="Id"></span>
        </div>
        <button type="submit" class="btn btn-link btn-icon btn-round">
            <i class="tim-icons icon-zoom-split"></i>
        </button>
    </form>
</div>

<div class="m-3">
    <div class="card p-3">
        KUNDBILD
        @Model.Name<br/>
        @Model.TotalBalanceOfAllAccounts
        
       @* <span @(Model.SpanError ? "" : "hidden") class="bg-danger text-uppercase">Ogiltigt kundnummer</span>*@
        

    </div>
</div>


@* AJAX *@