
@{
    ViewData["Title"] = "Kundbild";
}

<div class="m-3">
    <form class="form-inline ml-auto">
        <div class="form-group no-border">
            <input type="text" class="form-control" placeholder="Sök kundnummer">
        </div>
        <button type="submit" class="btn btn-link btn-icon btn-round">
            <i class="tim-icons icon-zoom-split"></i>
        </button>
    </form>
</div>
<div class="m-3">
    <div class="card p-3">
        KUNDBILD
    </div>
</div>