@using System.Collections.Specialized
@{
    ViewData["Title"] = "Kundbild";
}

<div class="m-3">
    <form class="form-inline ml-auto">
        <div class="form-group no-border">
            <input id="searchInput" type="text" name="q" class="form-control" placeholder="Sök kundnummer">
        </div>
        <button id="searchBtn" onclick="FetchInfo(); return false;" class="btn btn-link btn-icon btn-round">
            <i class="tim-icons icon-zoom-split"></i>
        </button>
    </form>
</div>

<div id="customerResult"></div>

<div class="m-3">
    <div class="card p-3">
        KUNDBILD

        @* <span @(Model.SpanError ? "" : "hidden") class="bg-danger text-uppercase">Ogiltigt kundnummer</span>*@
        

    </div>
</div>


@section Scripts
{
    <script>

        function FetchInfo() {
            var str = $('#searchInput').val();
            $.ajax({
                url: "/Kundregister/_CustomerDetails?q=" + str,
                success: function (result) {
                    $('#customerResult').html(result);
                }
            });
        }
    </script>
}
