@model PriyangaBankAdmin.Controllers.HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


@Model.TotalAccounts <br/>

@Model.TotalBalance <br/>

@Model.TotalCustomers


<a asp-controller="Kundregister" asp-action="Kundbild" asp-route-customerId="1">Kund 1</a>

