@model PriyangaBankAdmin.ViewModels.Home.Konto.KontoGetAccountDetailsViewModel
@{
    Layout = null;
}



@if (Model.Transactions.Count() == 0)
{
    <div class="card" style="width: 20rem;">
        <div class="card-body">
            <p class="card-text">Kontonumret matchar inte ett befintligt konto.</p>
        </div>
    </div>
}
else
{
    <div class="card p-3">
        <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted">Kontonummer: @Model.AccountId</h6>
        <h6>Belopp: @Model.Balance.ToString("N") SEK</h6>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Transaktion</th>
                        <th scope="col">Transaktionsdatum</th>
                        <th scope="col">Belopp</th>
                        <th scope="col">Saldo</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.Transactions)
                {
                    <partial name="_transactionRow" model="item" />
                }

                </tbody>
                <tfoot>
                <tr>
                   Hämta 20 till
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
}
