@model PriyangaBankAdmin.ViewModels.Konto.KontoWithdrawalViewModel
@{
    ViewData["Title"] = "Uttag";
}

<div class="card">
    <div class="card-body">
        <form method="post" asp-controller="Konto" asp-action="Withdrawal">
            <h4 class="card-title">Uttag</h4>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="AccountId">Kontonummer: @Model.AccountId</label>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label asp-for="AvailableBalance">Tillgängligt belopp: @Model.AvailableBalance SEK</label>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="AmountToWithdraw">Belopp att ta ut</label>
                    <input asp-for="AmountToWithdraw"/><br/>
                    <span asp-validation-for="AmountToWithdraw" style="color: red;"></span>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-sm"
                    asp-route-accountId="@Model.AccountId"
                    asp-route-availableBalance="@Model.AvailableBalance">Godkänn</button>
        </form>
    </div>
</div>

@section Scripts{ 
    <script>

    </script>
}